# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
dist.zip

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

#System Files
.DS_Store
Thumbs.db

#Config
config.js